node_modules/
.env
config.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
coverage/
.nyc_output
.nyc_temp
dist/
build/
.npm
.nuxt
.next
.vercel
.svelte-kit
output/
output.map
.sanity
.sanity/
netlify/
.nitro
.temp
temp/
.cache
.cache/
.yarn
.yarn/
app.log
npm-shrinkwrap.json
*.tgz
.yalc
yalc.lock
.commit
*.bin